/* INQUILINO SEARCH */
.inquilini-search-section {
}
.inquilini-search-banner {
    height: 100px !important;
}

/* INQUILINO TABLE */
.inquilini-table thead {
    font-size: medium;
}
.inquilini-table {
    flex: 1 1 auto;
    max-height: fit-content;
    font-size: small;
}
.inquilini-row {
    cursor: pointer !important;
    box-sizing: border-box;
    border: 1px solid rgba(72, 126, 176, 0.3);
    height: auto;
}
.inquilini-row:hover {
    transition: all 0s;
    background-color: rgba(251, 197, 49, 0.2);
    outline: 2px solid rgba(251, 197, 49, 0.5);
}
.inquilini-row:active {
    transition: outline-width 0.5s, background-color 0.2s;
    position: relative;
    z-index: 2;
    background-color: rgba(251, 197, 49, 0.4);
    outline: 2px solid rgba(251, 197, 49, 0.8);
    box-shadow: 0px 0px 2px 1px rgba(225, 177, 44);
}

/* INQUILINO EDIT */
.inquilini-edit-section {
    display: flex;
    justify-content: center;
    max-height: 550px;
}
.inquilini-edit {
    display: flex;
    max-width: 350px;
    flex: 1 1 60%;
    flex-direction: column;
    overflow-x: hidden;
    margin-right: 5px;
    padding: 20px 10px 20px 5px;
    border: solid #7f8fa6;
    border-width: 2px 2px 2px 0;
    border-radius: 0px 10px 10px 0px;
    background-color: #f5f6fa;
}
.inquilini-edit-btn {
    margin: 0px 5px 0px 0px;
    background-color: transparent;
}
.inquilini-edit-header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 18px;
    color: rgba(47, 54, 64);
    /* outline: 2px solid blueviolet; */
    padding-left: 2px;
}
.inquilini-edit-body {
    margin: 10px 0px 10px 0px;
}
.inquilini-edit-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}
.inquilini-edit-title {
    align-content: center;
}
.inquilini-edit-close-btn {
    border: none;
    border-radius: 100%;
    margin: 0;
    transform: translate(7px, -18px);
}
.inquilini-edit-close-btn:hover {
    background-color: rgba(39, 60, 117, 0.3);
}
.inquilini-edit-payment-btn {
    margin-right: auto;
}
.inquilini-edit-payment-btn:hover {
    svg {
        background-color: rgba(255, 215, 0, 1);
    }
}
.inquilini-edit-save-btn:hover {
    svg {
        color: rgba(39, 60, 117, 1) !important;
    }
}
.inquilini-edit-delete-btn:hover {
    svg {
        color: red !important;
    }
}
.inquilini-edit-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4px 0px 4px 0px;
}
.inquilini-edit-input {
    height: 30px;
}
.input-label {
    color: rgba(53, 59, 72);
}

/* INQUILINO PAGAMENTI */
.pagamenti-title {
    margin-top: 10px;
    border: 2px solid black;
}
.inquilini-pagamenti {
    display: inline-flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 100wh;
    border: 2px solid blue;
    border-radius: 8px;
    margin: 10px;
    padding: 5px;
}
.inquilino-pagamenti {
    width: 70px;
    height: 70px;
    padding: 2px;
    margin: 10px;
    background-color: whitesmoke;
    border: 2px solid rgba(68, 189, 50);
    cursor: pointer;
    font-size: 10px;
    font-weight: normal;
    white-space: normal; /* Impedisce al testo di andare a capo */
    /*overflow: hidden; /* Nasconde il testo che esce dai bordi */
    text-overflow: clip; /* Aggiunge i tre puntini di sospensione se il testo è troppo lungo */
}
.inquilino-pagamenti:hover {
    background-color: rgba(76, 209, 55, 0.4);
}
.debito {
    border: 2px solid rgba(194, 54, 22);
}
.debito:hover {
    background-color: rgba(232, 65, 24, 0.4);
}

/* INQUILINO MODALS */
.add-payments-modal {
    max-height: 200px;
    top: 50%;
}

/* PER EVITARE IL RIDIMENSIONAMENTO DOVUTO ALLA VARIAZIONE DELLA LUNGHEZZA DEL TESTO
/* width: 150px; /* Imposta la larghezza desiderata */
/* white-space: nowrap; /* Impedisce al testo di andare a capo */
/* overflow: hidden; /* Nasconde il testo che esce dai bordi */
/* text-overflow: ellipsis; /* Aggiunge i tre puntini di sospensione se il testo è troppo lungo */
